.about-container {
    background-color: #dfe6e9;
    min-width: 50vw;
    border-radius: 40px;
    padding: 40px;
    
}
.title-about {
    font-weight: 500;
    font-size: 50px;
    
}
.content-about {
    min-width: 500px;
    font-size: 25px;
    margin: 0 auto;
}