.container-profile {
    background-color: rgb(237, 239, 239);
    height: 90%;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px;
    padding: 30px;
}
.icon-back {
    width: 60px;
    cursor: pointer;
    transition: 0.2s;
}
.icon-back:hover {
    filter: invert(50%) sepia(20%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}
.div-profile {
    text-align: center;
}
.img-profile {
    width: 110px;
}
.email-profile {
    font-size: 40px;
}